@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl lg:text-4xl md:text-4xl font-bold;
  }

  h2 {
    @apply text-xl lg:text-2xl md:text-2xl font-semibold mb-2;
  }

  p {
    @apply text-sm md:text-base lg:text-base mb-2;
  }

  em {
    @apply text-sm md:text-base lg:text-base mb-2;
  }

  ul {
    @apply text-sm md:text-base lg:text-base mb-2;
  }

  a {
    @apply text-sm md:text-base lg:text-base text-anchor hover:underline hover:text-anchor-visited font-semibold;
  }

  a:visited {
    @apply text-sm md:text-base lg:text-base text-anchor-visited hover:underline;
  }

  a:active {
    @apply text-sm md:text-base lg:text-base text-anchor-visited hover:underline;
  }

  pre {
    @apply bg-lighter-background;
  }

  code {
    @apply text-foreground;
  }

  input {
    @apply bg-input-background;
    border: 1px solid var(--input-border);
  }

  button {
    @apply bg-button-background text-background dark:text-foreground hover:bg-button-hover cursor-pointer;
    border: 1px solid var(--button-border);
  }

  button:disabled {
    @apply bg-disabled text-disabled-foreground cursor-not-allowed;
    border: 1px solid var(--disabled-foreground);
  }

  svg {
    @apply text-foreground;
  }

  svg path {
    @apply stroke-foreground;
  }

  hr {
    @apply text-disabled bg-disabled border-disabled h-0.5;
  }
}

:root {
  --background: #F1F1F1;
  --dark-background: #2E2E2E;
  --lighter-background: #E0E0E0;
  --foreground: #2E2E2E;
  --anchor: #658594;
  --anchor-alt: #C34043;
  --anchor-visited: #C34043;
  --anchor-visited-alt: #E82424;
  --input-background: #F1F1F1;
  --input-border: #D1D5DB;
  --button-background: #6C7D57;
  --button-hover: #7C8E69;
  --button-border: #6C7D57;
  --disabled: #D1D5DB;
  --disabled-foreground: #9CA3AF;
}

.dark {
  --background: #1F1F28;
  --lighter-background: #363646;
  --foreground: #DCD7BA;
  --anchor: #658594;
  --anchor-alt: #C34043;
  --anchor-visited: #C34043;
  --anchor-visited-alt: #E82424;
  --input-background: #1f1f28;
  --input-border: #54546d;
  --button-background: #6a9589;
  --button-hover: #76946a;
  --button-border: #76946a;
  --disabled: #54546d;
  --disabled-foreground: #727169;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.5s ease;
}