@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  a {
    color: #E6C384;
    @apply text-sm;
  }

  pre {
    background-color: #363646;
  }

  code {
    color: var(--foreground);
  }
}

:root {
  --background: #DCD7BA;
  --foreground: #1F1F28;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* kanagawa color scheme */
    --background: #1F1F28;
    --foreground: #DCD7BA;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}